
@{
    ViewBag.Title = "CompleteCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white">Siparisiniz olusturulmustur. Siparis numaraniz: <strong>@ViewBag.OrderNo</strong></h2>

