@model List<DataAccess.Entity.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ if (TempData["error"] != null)
    {
        <div class="alert alert-danger">
            <span>@TempData["error"]</span>
        </div>
    }
}
<!-- Header-->
@*<header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>*@
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    @foreach (var movie in Model)
    {
        <div class="col mb-5">
            <div class="card h-100" style="background-color: mediumvioletred">
                <!-- Product image-->
                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4" >
                    <div class="text-center">
                        <!-- Movie name-->
                        <h5 class="fw-bolder">@movie.MovieName</h5>
                        <!-- Product price-->
                        @*@movie.Description*@
                    </div>
                    <div class="text-center">
                        @Html.ActionLink("Bilet Al", "Details", "Movie", new { id = movie.MovieID }, new { @class = "btn btn-dark mt-2" })
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <!--<div class="text-center">-->
                        @*@Html.ActionLink("Sepete Ekle", "AddToCard", new { id = product.ProductID }, new { @class = "btn btn-outline-dark mt-auto" })*@
                    <!--</div>-->
                </div>
            </div>
        </div>
    }
</div>

